body{
    background-color:rgb(197, 201, 122);
}

h1 {
    color: rgb(162, 4, 4);
    text-align:center;
}

h2 {
    text-align:center;
    font-style: italic;
}

hr {
    border: 5px dashed black;
    border-radius: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.z.zombie1 img {
    width: 100px;
    height: 200px;
    object-fit:fill;
    object-position:right;
    }
.z.zombie2 img {
    width: 600px;
    height: 300px;
    object-fit:scale-down;
    object-position:left;
    }
.z.zombie3 img {
    height: 400px;
    object-fit:none; /*original image size in a small box */
    object-position:left;
    }
.z.zombie4 img {
    width:300px;
    height:400;
    object-fit:fill;
    object-position:center;
    }
.zombie5 img {
    width: 500px;
    height: 400px;
    object-fit:cover;
    object-position:right;
    }

.z {
    width: 300px;
    height: 400px;
    background-color:orange;
    margin: 1em;
    }

    @supports(display: flex) {
    .z.zombie2 {
        background-color: blue;
    }
@supports(display: flex) {
    .z.zombie3 {
        background-color: rgb(191, 0, 255);
    }
@supports(display: flex) {
    .z.zombie4 {
        background-color: rgb(255, 196, 0);
    }
@supports(display: flex) {
    .z.zombie5 {
        background-color:cyan;
    }
                          
  